<strong>Olá, {{ student }}.</strong>
<p>Você perguntou e nós respondemos! Confira o que a Gympoint lhe respondeu:</p>
<p>
  <strong>Pergunta: </strong> "<i>{{ question }}</i>" <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Respondido em: </strong> {{ answer_at }}. <br />
  <br />
  <small>
    Estamos sempre dispostos a te ajudar. Conte conosco!
  </small>
</p>
